<div class="card m-5" style="width: 1000px">
  <div class="row g-0">
    <div class="col-md-4">
      <img
        src="https://images.pexels.com/photos/733854/pexels-photo-733854.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
        class="img-fluid rounded-start"
        alt="..."
      />
    </div>
    <div class="col-md-8" style="background-color: rgb(214, 252, 217)">
      <div class="card-body">
        <h5 class="card-title">Reading</h5>
        <p class="card-text">
          This is a wider card with supporting text below as a natural lead-in
          to additional content. This content is a little bit longer.
        </p>
        <p class="card-text">
          <small class="text-muted">Last updated 3 mins ago</small>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="card m-5" style="width: 1000px">
  <div class="row g-0">
    <div class="col-md-8" style="background-color: rgb(214, 252, 217)">
      <div class="card-body">
        <h5 class="card-title">Reading</h5>
        <p class="card-text">
          This is a wider card with supporting text below as a natural lead-in
          to additional content. This content is a little bit longer.
        </p>
        <p class="card-text">
          <small class="text-muted">Last updated 3 mins ago</small>
        </p>
      </div>
    </div>

    <div class="col-md-4">
      <img
        src="https://images.pexels.com/photos/1105564/pexels-photo-1105564.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
        class="img-fluid rounded-start"
        alt="..."
        style="height: 250px; width: 400px"
      />
    </div>
  </div>
</div>
